.icon{
    width: 40px;
    color: var(--primary-color);

}
.current-weather-container{
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
    padding-bottom: 50px;
   
}
.current-weather-details{
    flex: 1;
    line-height: 30px;

}
.current-weather-icon{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sun-icon{
    width: 100px;
}

link{
    color: var(--primary-color);
    
}
.buttonback{
    width: 100px;
}