.hourly-forecast-container{
    display: flex;
  flex-wrap: nowrap;     
  overflow-x: auto;       
  padding-bottom: 8px;
}

.hourly-forecast-content {
 min-width: 80px;
  text-align: center;       
  line-height: 40px;
}