
.search-bar {
    width: 60%;
    /* height: 50px; */
    background-color: rgb(71, 131, 170);
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.search-input {
    height: calc(90% - 20px);
    flex: 1;
    border: none;
    border-left:  5px solid  rgb(71, 131, 170);
    border-right:  1px solid  rgb(71, 131, 170);;
    outline: none;
    /* padding: 10px; */
    font-size: x-large;
    /* background-color: rgb(49, 77, 95); */
}
.search-icon{
    height: 30px;
    width: 30px;
    margin: 0 10px;  
    cursor: pointer;
    flex-shrink: 0;  
    color: black
    
    
}