.search-bar {
  width: 60%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  overflow: hidden;
  border: 2px solid #ccc;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 16px;
  font-size: 16px;
  background: transparent;
}

.search-btn {
  background-color: #4783aa;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  width: 100px;
}