* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {

  --background-color: #d3e1ec;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #9dd2f0;
  --toggle-fg :  #4f98c9;
   --card-bg: #ffffff;




}
[data-theme="dark"]{
  --background-color :  #090d17;
  --primary-text-color: #f6f6f6;
   --secondary-text-color:  #0a0a0a;
   --toggle-fg :  #175985;
    --card-bg: #1e293b; 
}